@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:gray;">
    <h1 style="color:white;"> Reginald's <br /> Ancient Antiquities Auction</h1>
    <p class="lead" style="color:white;">Welcome, feel free to browse our various buyers, sellers, products and the hitsory of previous successful bids!</p>
</div>
